/*
filename: [style.css]
author: [Danny]
created: [23/03/2023]
last modified: [23/03/2023]
description: [index.html]
*/

/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS VARAIBLES */
:root {
  --main-text-color: rgba(238, 238, 238, 0.75);
  --white-border-color: rgba(255, 255, 255, 0.20);
  --dark-gray: #1F1F1F;
  --medium-gray: #28292a;
  --light-gray: #2d2f31;
  --accent-blue: rgb(187, 225, 250)
}

/* ___________________________________________________________ */
/* GLOBAL STYLING (APPLIES TO ALL .HTML FILES) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark-gray);
  color: var(--main-text-color);
  padding-top: 105px;
}

a {
  color:  var(--main-text-color);
  text-decoration: none;
}

a:hover {
  color:rgb(187, 225, 250)
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  background-color: var(--medium-gray);
  border-radius: 20px;
  padding: 40px;
  margin-top: 30px;
  font-size: 1.2em;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

/* ___________________________________________________________ */
/* FOR MOBILE RESPONSIVENESS */
/* WORK IN PROGRESS */

/* @media only screen and (max-width: 1050px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-top: 1px solid var(--white-border-color);
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #nav_logo_container {
    padding-left: 25px;
    margin: 0 20px 20px 0;
  }
} */

/* ___________________________________________________________ */
/* NAVBAR */
nav, footer {
  width: 100%;
  padding: 30px 40px;
  z-index: 9999;
  background-color: var(--light-gray);
  user-select: none;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--white-border-color);
  gap: 30px;
}

#nav_logo_container img {
  height: 20px;
  
}

#nav_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  width: 100%;
}

.nav_list_item {
  font-weight: bold;
  padding-bottom: 3px;
  cursor: pointer;
  font-size: 1em;
}

.nav_list_item > a {
  transition: color .4s ease;
}

.nav_list_item:hover > a {
  color: white;
}

.nav_list_item:after {
  content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: all .4s ease;
}

.nav_list_item:hover:after {
  width: 100%;
  background-color: white;
}

/* SPECIAL CLASS FOR BLUE BUTTON ON NAVBAR */
.pill_button {
  font-weight: bold;
  background-color: var(--accent-blue);
  opacity: 0.7;
  border-radius: 16px;
  padding: 13px 18px;
  transition: all .4s ease;
  font-size: 1em;
  text-transform: uppercase;
  margin-right: 5px;
  color: var(--dark-gray);
}

.pill_button:hover {
  opacity: 1;
  color: var(--dark-gray);
}

/* ___________________________________________________________ */
/*HOME PAGE STYLING*/

#home_page_content {
  gap: 30px;
}

#banner_graphic {
  width: 100%;
  background-image: url("./images/bannergraphic.webp");
  height: 450px;
}

#banner_graphic img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


/* ___________________________________________________________ */
/* ABOUT PAGE STYLING */

#about_page_content {

}

table, tr, td{
  background-color: #1F1F1F;

}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

dl {
  padding: 0.5em;
}
dt {
  clear: left;
  float: left;
  width: 40%;
  text-align: right;
  font-weight: bold;
}

dd {
  width: 55%;
  margin-left: 42%;
}

#about_us_company_logo{
  border: 5px solid #ccc;
  margin-bottom: 30px;
}

#group_photo {
  width: auto;
  height: auto;
  width: 100%;
}



/* ___________________________________________________________ */
/* JOBS PAGE STYLING */

#jobs_page_styling {

}

<<<<<<< Updated upstream
#position_description {
  display: flex;
  flex-direction: row;
=======
#jobs_page_styling > section > h1 {
  font: 1.8em Arial, sans-serif;
}

#jobs_page_styling > section > h2 {
  font: 1.6em Arial, sans-serif;
}

#jobs_page_styling > section > h3 {
  font: 1.4em Arial, sans-serif;
>>>>>>> Stashed changes
}

.job_description p {
  margin-bottom: 15px;
}

.job_description p:first-child {
  margin-top: 25px;
}

.job_description p:last-child {
  margin-bottom: 25px;
}

aside {
  width: 25%;
  height: 100px;
  border-radius: 20px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: end;
  clear:left;
}
/* ___________________________________________________________ */
/* ENHANCEMENTS PAGE STYLING */

#enhancements_page_styling {

}

/* ___________________________________________________________ */
/* APPLY PAGE STYLING */
#apply_page_content {
  padding: 50px;
}

#apply_page_content h1 {
  color: rgb(187, 225, 250)
}

#job_application_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--medium-gray);
  border-radius: 18px;
  padding: 35px 0;
}

.job_input {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  background-color: var(--light-gray);
  padding: 0.75rem;
  color: var(--main-text-color);
  transition: all .2s ease-in;
  font-size: 1.05em;
}

.job_input::placeholder {
  color: var(--main-text-color);
  opacity: 0.5;
}

.job_input:hover {
  border-color: rgb(4, 4, 5);
}

.job_input:focus {
  outline: none;
  border-color: rgb(0, 175, 244)
}

input[type="submit"], input[type="reset"] {
  color: var(--dark-gray);
  font-weight: bold;
  background-color: var(--accent-blue);
  cursor: pointer;
}

.input_radio {
  float: left;
  clear: none;
  margin: 2px 5px 2px 20px;

}

.radio-group {
  display: flex;
  flex-direction: row;
}

fieldset
{
  max-width:500px;
  padding:16px;	
}


.input_checkbox {
  margin: 2px 5px 2px 10px;

}

.text_area {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  background-color: var(--light-gray);
  padding: 1.5rem;
  color: var(--main-text-color);
  transition: all .2s ease-in;
  font-size: 1.05em;
}


/* ___________________________________________________________ */
/*FOOTER*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--white-border-color);;
  margin-top: 100px;
}

#footer_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
  margin-bottom: 15px;
}

#footer_list > li {
  margin-right: 30px;
}

.footer_link > a {
  transition: all .2s ease;
  text-transform: uppercase;
}

.footer_link > a:hover {
  color: white;
  font-weight: 500;
}

#copyright_container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

#copyright_container p {
  font-style: italic;
  font-size: 0.95em;
}

#github_container {
  display: flex;
  align-items: center;
}

#github_container img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  cursor: pointer;
}




/* ___________________________________________________________ */
